.titreDuJeu
{
    color: aqua;
}
.center
{
    text-align: center;
}
/*.button button
{
    background-color: chartreuse;
    width: 200px!important;
    height: 50px!important;

}

.button:hover button
{
    background-color: red;
}*/

canvas {

    background-color: #f1f1f1;
    text-align: center;
    background: url('background.png');
    background-size:cover;
    border-radius: 34px 200px 200px 34px;
    -moz-border-radius: 34px 200px 200px 34px;
    -webkit-border-radius: 34px 200px 200px 34px;
    border: 11px groove #140b14;

}
body {background: url('globalBackground.png');
}
h1
{
    color:white;
}
*
{
    color:white;
}